body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

.hero {
    background: #ffc107;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.hero p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: green;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}